
.verify-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    .icon-div{
      width: 120px;
      height: 120px;
      background-color: #aaaaaa3d;
      border-radius: 50%;
      mat-icon{
        font-size: 2.5em;
        color: var(--move-color);
      }
    }
  form{
    width: 100%;
    height: auto;

    .confirmBtn{
      width: 100%;
      background:var(--move-color);
      height: 40px;
      color: #fff;
      margin-top: 30px;
    }
  }

  mat-form-field{
    width: 80px !important;
    border-radius: 8px;

    ::ng-deep .mat-form-field-outline{
      border: 0.2px solid var(--move-color) !important;
      border-radius: 8px;
    }

    ::ng-deep .mat-input-element{
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
    }
  }
 }
