<div class="customModalStyle">
  <button mat-icon-button
          (click)="cancel()"
          aria-label="Close dialog"
          class="btnClose">
    <mat-icon>close</mat-icon>
  </button>

  <div class="divContent">
    <h2 *ngIf="requestData"> Update Request</h2>
    <h2 *ngIf="!requestData"> New Request</h2>

    <form [formGroup]="requestFG" *ngIf="requestFG">

      <div fxLayoutAlign="space-between center">

        <mat-form-field appearance="outline">
          <mat-label>Product</mat-label>
          <mat-select name="role" formControlName="product">
            <mat-option *ngFor="let product of products" [value]="product.value">
              {{product.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <mat-form-field appearance="outline">
        <mat-label>Short description</mat-label>
        <textarea rows="4" matInput type="text" formControlName="short_description"></textarea>
      </mat-form-field>


      <div fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="text" formControlName="amount">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select name="role" formControlName="status">
            <mat-option *ngFor="let status of statusAvailable" [value]="status.value">
              {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>


        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select name="role" formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department.value">
              {{department.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>


    </form>

    <div class="modalAction">
      <button mat-dialog-close cdkFocusInitial mat-button class="actions-btn "
              [disabled]="requestFG.invalid"
              (click)="save()">
        Save
      </button>
    </div>
  </div>
</div>
