<div class="customModalStyle">
  <button mat-icon-button
          (click)="cancel()"
          aria-label="Close dialog"
          class="btnClose">
    <mat-icon>close</mat-icon>
  </button>

  <div class="divContent">
    <h2 *ngIf="!budgetDetails">Create New Budget</h2>
    <h2 *ngIf="budgetDetails">Update Budget</h2>
    <form [formGroup]="budgetGP">


      <div>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Title" formControlName="title">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <input matInput type="text" placeholder="Year" formControlName="year">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAling="space-between center">
        <mat-form-field appearance="outline" style="margin-right: 15px;">
          <mat-label>Allocated amount</mat-label>
          <input matInput type="text" placeholder="Allocated amount" formControlName="allocated_amount">
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" placeholder="Code" formControlName="code">
          </mat-form-field>
      </div>

      <div class="modalAction">

        <button mat-dialog-close cdkFocusInitial mat-button class="newPjBtn actions-btn" (click)="save()">
         <span > Save</span>
        </button>


      </div>
    </form>
  </div>
</div>
