table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  thead{
    background: var(--blue-color);
    color: #fff;
  }
}

tr {
  height: 60px;
  border-bottom: 1px solid #dddddd !important;
}

td, th {
  //border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px 15px;
  min-width: 120px;
}

tr:last-child {
  border-bottom: unset;
}
