<div class="customModalStyle">
  <button mat-icon-button
          (click)="cancel()"
          aria-label="Close dialog"
          class="btnClose">
    <mat-icon>close</mat-icon>
  </button>

  <div class="divContent">
    <h2 *ngIf="orderData"> Update Order</h2>
    <h2 *ngIf="!orderData"> New Order</h2>

    <form [formGroup]="orderFG" *ngIf="orderFG">

      <div fxLayoutAlign="space-between center">

        <mat-form-field appearance="outline">
          <mat-label>Number</mat-label>
          <input matInput type="text" formControlName="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Budget Year Code</mat-label>
          <input matInput type="text" formControlName="year_code">
        </mat-form-field>

      </div>

      <div fxLayoutAlign="space-between center">

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="text" formControlName="amount">
        </mat-form-field>


      </div>

      <div fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select name="role" formControlName="status">
            <mat-option *ngFor="let status of statusAvailable" [value]="status.value">
              {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select name="role" formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department.value">
              {{department.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline">
          <mat-label>Vendor</mat-label>
          <mat-select name="role" formControlName="vendor">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor.value">
              {{vendor.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Owner</mat-label>
          <input matInput type="text" formControlName="owner">
        </mat-form-field>

      </div>
    </form>

    <div class="modalAction">
      <button mat-dialog-close cdkFocusInitial mat-button class="actions-btn "
              [disabled]="orderFG.invalid"
              (click)="save()">
        Save
      </button>
    </div>
  </div>
</div>
