<section class="loginComponent" fxLayout="row">
  <!--form div-->
  <div class="form-div">
    <form [formGroup]="loginForm" *ngIf="selectedMode === loginMode.form">
      <div style="margin: 50px" fxLayout="column" fxLayoutAlign="center center">
        <img  style="width: 80px;height: 80px; margin-bottom: 30px;" src="assets/images/email-12-xxl.png" alt="">
          <h2><strong>Welcome Back!</strong></h2>
           <p style="opacity: 0.7;">Sign in to continue</p>
      </div>


      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Enter username" formControlName="userName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password"
               formControlName="password">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
      </mat-form-field>

      <button mat-button class="loginBtn" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    </form>

    <ng-container *ngIf="selectedMode === loginMode.verification">
      <app-verification-code>
    </app-verification-code>
    </ng-container>

  </div>

  <div class="swiper-div">
    <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <swiper
        class="swiper-container "
        fxFlex="auto"
        [config]="swiperConfig">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div class="overlay-image" fxLayout="column" fxLayoutAlign="center center" fxFlexFill
               [ngStyle]="{'background': 'url(' + slide.lgImageUrl + ')'}">
            <div class="overlay-div">

            </div>

            <div class="text-div">
             <!-- <mat-icon style="font-size: 3em; color: #0ef20e;transform: rotate(180deg)">format_quote</mat-icon><br>
              <h1>
                <strong>{{slide.text}}</strong></h1>-->
            </div>

          </div>
        </div>
      </swiper>
    </div>
  </div>
</section>
