:root{

  //colors
  --navy-color: #1F4776;
  --blue-color: #1181C3;
  --grey-color: #7F7F7F;
  --teal-color: #069BC6;
  --green-color: #72A742;
  --lime-color: #D1C829;

  //fonts
  --default-font: "Helvetica Neue", sans-serif;

//width
  --default-max-width: 1100px;
  --large-max-width: 1300px;
}
