.ready_class{
  color: #32e392;
  background-color: #6fdaa91f;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}
.pending_class{
  color: #1044f2;
  background-color: #68709b1f;
  padding: 5px 10px;
  border-radius: 10px;
  //font-weight: bold;
}
