<div class="customModalStyle">
  <button mat-icon-button
          (click)="cancel()"
          aria-label="Close dialog"
          class="btnClose">
    <mat-icon>close</mat-icon>
  </button>

  <div class="divContent">
    <h2>Add New Attachment</h2>

    <div>
      <button mat-button type="button" (click)="f.click(); $event.preventDefault();">
       Choose file
      </button>
      <input type="file" #f fxHide (change)="chooseFile($event)">

      <!--<p *ngIf="fileResult"><img style="height: 50px;width: 50px;" [src]="fileResult" alt=""></p>-->
    </div>

    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input matInput rows="6" type="text" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <div class="modalAction">
        <button mat-dialog-close cdkFocusInitial mat-button class="actions-btn " (click)="save()">
         Save
        </button>
      </div>
  </div>
</div>
